@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    background-image: url('../images/bg_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* ================================= Head Style Start ==================================================== */

/* ========================================= New Head Start ================================================= */
/* .site_logo{
    width: 200px;
} */

.discord_img{
    width: 40px;
}

.tiktok_img{
    width: 40px;
}

.social_bar_div ul li{
    list-style-type: none;
}

.twitter_icon_top{
    background-color: black;
    padding: 6px 8px;
    font-size: 20px;
    border-radius: 50%;
}

.instagram_icon_top{
    background-color: black;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 50%;
}

.social_bar_div{
    width: 100%;
}

.social_bar_div ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerbtn_div h6{
    color: #f151d4;
    font-size: 15px;
    text-align: left;
}
/* ========================================= New Head End ================================================= */

/* ============================================= Navbar Start ========================================== */

.navigation_div nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.navigation_div nav a{
    text-decoration: none;
    color: black;
}

.nav_container{
    justify-content: end;
}

.navlist_div{
    justify-content: space-around;
    width: 50%;
}

.container .row .nav_main_div{
    margin-top: 20px !important;
    background: #f7f6f6 !important;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: transparent !important;
}

.navbar-light .navbar-toggler{
    color: rgba(0,0,0,0) !important;
}

.dropdown-menu.show{
    text-align: center;
}

@media screen and (max-width:992px){
    .navlist_div{
        width: 100%;
    }
}


/* ============================================= Navbar End ========================================== */

/* ==================================== New Index Start ============================================= */

.collage_bg{
    background-color: black;
}

.home_headtxt{
    color: grey;
    font-size: 1.8rem;
    text-align: center;
    margin: 30px 0px;
}

.mid_collage{
    display: flex;
}

/* .dam_house_img{
    width: 475px;
    height: 400px;
} */

.collage_bg .party_pool_img{
    height: 417px;
}

.mid_title_section{
    background-color: #2B5336;
    padding: 15px 0px;
}

.mid_title_txt{
    color: #ffffff;
    text-align: center;
    /* font-size: 1.8rem; */
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
}

.mid_para_txt{
    font-size: 1.1rem;
    text-align: center;
    color: #aee81d;
}

.mid_section_img{
    width: 300px;
}

.mintedCount_section{
    background-color: #AEE81D;
}

.mintedCount_title{
    color: #2B5336;
    text-align: center;
    font-size: 1.8rem;
    margin: 40px 0px;
    font-weight: 400;
}

.mid_sec_social_div{
    display: flex;
    justify-content: center;
}

.mid_sec_social_div ul{
    display: flex;
    padding: 0%;
    justify-content: space-around;
    list-style-type: none;
    width: 20%;
    align-items: center;
}

.homecountd_para .sub_title{
    color: #000000;
}

.dam_team_container{
    background-color: black;
}

.dam_team_head{
    color: #ffffff;
    text-align: center;
    margin: 20px 0px;
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 20px 0px;
}

.dam_team_head .dam_txt{
    width: 180px;
    margin-top: -11px;
}

.team_box_div{
    background-color: #DB9421;
    display: flex;
}


.box_div_img{
    width: 40%;
    padding: 5px;
}

.box_div_content{
    width: 60%;
    padding: 5px;
}

.dam_team_row{
    justify-content: center;
}

.box_div_content h4{
    color: black;
    font-size: 18px;
}

.box_div_content p{
    font-size: 14px;
    color: black;
}

.team_multi_box{
    background-color: #DB9421;
    display: flex;
    padding: 5px;
}

.box1, .box2, .box3{
    color: black;
    font-size: 14px;
    text-align: center;
}

.box1 .box_img{
    padding: 5px;
}

.box2 .box_img{
    padding: 5px;
}

.box3 .box_img{
    padding: 5px;
}

.box1 p{
    margin-bottom: 2px;
}

.box2 p{
    margin-bottom: 2px;
}

.box3 p{
    margin-bottom: 2px;
}

.about_title{
    /* color: gray; */
    font-weight: lighter;
}

.about_social_div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.about_social_div ul{
    list-style-type: none;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0%;
}

.phase_container{
    background-color: black;
}

.phase_container .phase_pool_img{
    height: 430px;
}

.roadMap_head{
    color: #E05EC4;
    font-weight: 400;
    font-size: 2.2rem;
    padding: 10px 0px;
}

.roadMap_subHead{
    color: #D99321;
    font-weight: 400;
    font-size: 1.7rem;
    padding: 10px 0px;
}

.phase_txt{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.phase_para{
    color: #A4DA1B;
    /* font-size: 14px; */
}

.phase_para.phase3{
    color: red;
}

.phase_para.phase4{
    color: #DC5CC1;
}

.phase_para.phase5{
    color: #29AB73;
}

.phase_paraBtm{
    color: #ababab;
}

.footer_social_div{
    display: flex;
    justify-content: center;

}

.footer_social_div ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    width: 30%;
}

.footer_txt{
    color: grey;
    margin-top: 20px;
}
/* ==================================== New Index End ============================================= */


.header{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.head_div{
    border: 4px solid #632a05;
    display: flex;
    justify-content: center;
    background: #FFFAF7;
    padding: 5px 10px;
}

.head_div h1{
    font-family: 'Raleway', sans-serif;
    color: grey;
    letter-spacing: 1px;
    margin: 0%;
    font-weight: 900;
}

.headerbtn_div{
    text-align: right;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around; 
}

.headerbtn_div .connect_wallet_btn{
    padding: 15px 30px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    border: none;
    background-color: black;
    outline: none;
    border-radius: 10px;
    transition: all .2s;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #aee81d;
}

.headerbtn_div .connect_wallet_btn:hover{
    box-shadow: 0px 0px 15px rgb(0 0 0 / 50%);
    cursor: pointer;
    /* letter-spacing: 1.5px; */
    color: #aee81d;
}

@media screen and (max-width:425px){
    .head_div h1{
        font-size: 22px;
    }
    .headerbtn_div{
        text-align: center;
        margin: 0px;
    }

    .header{
        flex-wrap: wrap;
    }

    .mid_sec_social_div ul{
        width: 100%;
    }

    .about_social_div ul{
        width: 100%;
    }

    .footer_social_div ul{
        width: 100%;
    }
    
    .team_multi_box{
        flex-wrap: wrap;
        justify-content: center;
    }

    .box1 .box_img{
        width: 100px;
    }

    .box2 .box_img{
        width: 100px;
    }

    .box3 .box_img{
        width: 100px;
    }

    .homecountd_para .sub_title{
        font-size: 18px;
    }

    .team_box_div{
        margin-top: 15px;
    }
}

/* ================================= Head Style End ==================================================== */

/* ================================= Home Style Start ==================================================== */

.home_titlediv{
    padding: 20px 20px 50px 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home_tilesocial{
    display: flex;
}

.hometwitter_div{
    background: black;
    width: 31px;
    height: 33px;
    padding: 4px 1px 4px 3px;
    border-radius: 50%;
    margin-left: 10px;
}

.homeinstagram_div{
    background: black;
    width: 31px;
    height: 33px;
    padding: 4px 1px 2px 3px;
    border-radius: 50%;
    margin-left: 10px;
}

.homefacebook_div{
    background: black;
    width: 31px;
    height: 33px;
    padding: 5px 5px 3px 5px;
    border-radius: 50%;
}

.homesocial_icon{
    color: #aee81d;
}

.home_titlediv h2{
    font-family: 'Raleway';
    color: grey;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
}

.homecard_div{
    justify-content: space-evenly;
}

.home_card{
    position: relative;
    background: transparent !important;
    border: none !important;
}

.home_card .homecard_txt{
    position: absolute;
    top: 140px;
    left: 50px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.homecard_txt ul{
    list-style-type: none;
    padding: 0%;
    text-align: left;
}

.homecard_btm{
    background: #C7C7C7;
    width: 120%;
    text-align: center;
    padding: 20px;
    margin: -10%;
    color: grey;
    height: 200px;
    display: flex;
    align-items: center;
}

.homecard_btm p{
    font-size: 17px;
    margin: 0%;
}

.homecard_btm ul{
    list-style-type: none;
    padding: 0%;
    text-align: left;
}

.homebtn_div .btnOne{
    padding: 20px 50px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    background-color: black;
    border: none;
    outline: none;
    transition: all .2s;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #DC5CC1;
    border-radius: 15px;
}

.homebtn_div .btnOne:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    cursor: pointer;
    letter-spacing: 1.5px;
}

.homebtn_div{
    display: flex;
    padding: 50px 10px;
    justify-content: space-evenly;
    margin-top: 30px;
}

.homebtn_div .btnTwo{
    padding: 20px 50px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    background-color: black;
    border: none;
    outline: none;
    transition: all .2s;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: gold;
    border-radius: 15px;
}

.homebtn_div .btnTwo:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    cursor: pointer;
    letter-spacing: 1.5px;
}

.homerangetxt_div{
    text-align: right;
    font-size: 17px;
    color: grey;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.homecountd_txt{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.homecountd_txt h2{
    font-weight: 600;
    font-size: 3rem;
}

.homecard_txt h2{
    font-weight: 700;
    font-size: 50px;
}

.homecountd_para{
    text-align: center;
}

.homecountd_para p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.homerdmap_div{
    text-align: left;
}

.homerdmap_div h3{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.homerdmap_div p{
    color: #898989;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width:991px){
    .homebtn_div{
        padding: 0%;
    }

    .homebtn_div.first{
        margin-top: 40px;
    }

    .homebtn_div.second{
        margin-top: 10px;
    }

    .homerangetxt_div{
        text-align: center;
    }

    .home_card.first{
        margin-top: 40px;
    }

    .home_card.second{
         margin-top: 40px;
    }

    .home_card.third{
        margin-top: 40px;
    }
}

@media screen and (min-width:992px) and (max-width:1192px){
    .home_card.second{
        margin: 0px 20px;
    }
}

@media screen and (max-width:425px){
    .home_tilesocial{
        bottom: 10px;
        top: 180px;
        right: 140px;
    }
    
    .home_titlediv h2{
        font-size: 24px;
    }
    
}



/* =========================================== Countdwon ===================================== */
/* general styling */

#days, #hours, #minutes, #seconds{
    background: #247030;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  #headline {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }

  #countdown ul{
      padding: 0%;
  }
  
  #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown li span {
    display: block;
    font-size: 3rem;
  }

  
  @media all and (max-width: 768px) {
    #headline {
      font-size: 1.5rem;
    }
    
    #countdown li {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    #countdown li span {
      font-size: 1.375rem;
    }
  }

/* =========================================== Countdwon ===================================== */

/* ================================= Home Style End ==================================================== */

/* ================================= About Style Start ================================================== */

.about_headcontainer{
    background: #F7F6F6;
    margin-top: 20px;
}

.about_titlehead{
    border-bottom: 1px solid grey;
}

.about_titlehead h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px 10px 0px; 
}

.about_para{
    color: grey;
    padding: 50px;
}

.about_servicecontainer{
    background: #F7F6F6;
}

.about_servicetxt{
    border-bottom: 1px solid grey;
}

.about_servicetxt h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px 10px 0px; 
}

.about_cardcontainer{
    background: #F7F6F6;
    padding: 50px;
}

.about_cardsrow{
    justify-content: space-evenly;
}

.about_cardtitle{
    font-family: 'Raleway', sans-serif;
    color: darkgrey;
    position: relative;
    text-transform: uppercase;
    padding: 10px 0px;
}

.about_cardtitle::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 40%;
    border-bottom: 1px solid grey;
    width: 50px;
    height: 100%;
}

.about_cardpara{
    font-family: 'Raleway', sans-serif;
    color: grey;
}

.about_cardimg{
    border-radius: 50% !important;
    width: 180px !important;
    height: 180px !important;
}

.about_card{
    position: relative;
    background: transparent !important;
    border: none !important;
    align-items: center;
}

.about_svg{
    position: absolute;
    top: 40px;
    left: 93px;
}

.about_svgicon{
    width: 100px;
    height: auto;
}

@media screen and (max-width:425px){
    .about_para{
        padding: 15px;
    }

    .about_card.second{
        margin-top: 20px;
    }

    .about_card.third{
        margin-top: 20px;
    }
}
/* ================================= About Style End ==================================================== */

/* ================================= Portfolio Style Start ==================================================== */

.portfolio_container{
    background: #F7F6F6;
    margin-top: 20px;
}

.portfolio_cardcontainer{
    background: #F7F6F6;
}

.portfolio_headtxt{
    text-align: center;
    border-bottom: 1px solid grey;
}

.portfolio_headtxt h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 0px 0px 0px;
}

.portfolio_para p{
    font-family: 'Raleway', sans-serif;
    color: grey;
    padding: 40px;
}

.portfolio_cardrow{
    justify-content: center;
}

.portfolio_cardtitle{
    text-transform: uppercase;
    color: grey;
    font-weight: 900 !important;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0px;
}

@media screen and (max-width: 425px){
    .portfolio_para p{
        padding: 10px;
    }
}
/* ================================= Portfolio Style End ==================================================== */


/* ================================= Portfolio 1 Style Start ==================================================== */

.portfolio1_container{
    background: #F7F6F6;
    margin-top: 20px;
}

.portfolio1_titlediv{
    border-bottom: 1px solid grey;
    padding-top: 40px;
}

.portfolio1_titlediv h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: 900;
    text-transform: uppercase;
}

.portfolio1_paradiv{
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.portfolio1_paradiv p{
    font-family: 'Raleway', sans-serif;
    color: grey;
    padding: 50px;
}

.portfolio1_slidcontainer{
    background: #F7F6F6;
    padding: 50px !important;
}

@media screen and (max-width:425px){
    .portfolio1_paradiv p{
        padding: 10px;
    }
}

/* ================================= Portfolio 1 Style End ==================================================== */

/* ================================= Portfolio 2 Style Start ==================================================== */

.portfolio2_container{
    background: #F7F6F6;
    margin-top: 20px;
}

.portfolio2_titlediv{
    border-bottom: 1px solid grey;
    padding-top: 40px;
}

.portfolio2_titlediv h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: 900;
    text-transform: uppercase;
}

.portfolio2_paradiv{
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.portfolio2_paradiv p{
    font-family: 'Raleway', sans-serif;
    color: grey;
    padding: 50px;
}

.portfolio2_slidcontainer{
    background: #F7F6F6;
    padding: 50px !important;
}

@media screen and (max-width:425px){
    .portfolio2_paradiv p{
        padding: 10px;
    }
}

/* ================================= Portfolio 2 Style End ==================================================== */

/* ================================= Contact Style Start ==================================================== */

.contact_container{
    background: #F7F6F6;
    margin-top: 20px;
}

.contact_title{
    border-bottom: 1px solid grey;
    padding-top: 40px;
}

.contact_title h2{
    color: grey;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.contact_maincontainer{
    background: #F7F6F6;
}

.contact_topcontent{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.contact_teldiv{
    padding: 15px;
}

.contact_teldiv ul{
    padding: 0%;
    list-style-type: none;
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.contact_addressdiv{
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    color: grey;
}

.contact_addressdiv p{
    margin: 0%;
    font-size: 14px;
}

.contact_socialdiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 130px;
    font-size: 22px;
    margin-left: 50px;
}

.contact_socialdiv a{
    color: black;
}

.contact_socialdiv a:hover{
    color: black;
}

.contact_formdiv{
    display: flex;
    justify-content: center;
}

.contact_formrow{
    text-align: left;
    font-size: 14px;
    letter-spacing: .6px;
    color: #9f9f9f;
}

.form-floating>.form-control {
    padding: 5px 10px !important;
}

.contactform_input{
    border-radius: 0% !important;
    border: 1px solid grey !important;
    line-height: 1 !important;
    width: 250px !important;
    margin-bottom: 4px;
}

.contactform_input:focus{
    box-shadow: none !important;
}

.contactform_btn{
    text-align: right;
}

.contactform_btn button{
    background: grey !important;
    border-radius: 0% !important;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 900;
    padding: 7px 35px !important;
    letter-spacing: 1px;
    border: none !important;
}

.contactform_btn button:hover{
    background: #d3d3d3 !important;
    color: grey;
}

.contactform_btn button:focus{
    box-shadow: none !important;
}

.contact_mapdiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}



@media screen and (max-width:764px){
    .contact_topcontent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_socialdiv{
        margin: 0%;
    }

    .contactform_btn{
        text-align: center;
    }

    .contactform_fields{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* ================================= Contact Style End ==================================================== */


/* ================================= Footer Style Start ================================================== */

.footer_div{
    text-align: center;
    padding: 20px 0px;
}

.footer_div .footer_para{
    font-weight: 600;
    color: #a8a8a8;
    font-family: 'Raleway', sans-serif;
}

.footer_icon{
    color: #ffffff;
    padding: 5px 5px 2px 5px;
    font-size: 30px;
}

.footericon_div{
    display: flex;
    justify-content: center;
}

.facebook_div{
    background: black;
    border-radius: 50%;
    width: 31px;
}

.twitter_div{
    background: black;
    border-radius: 50%;
    width: 31px;
    margin-left: 15px;
}

.twitter_div .footer_icon{
    padding: 8px 8px 5px 8px;
}

.instagram_div{
    background: black;
    border-radius: 50%;
    width: 31px;
    margin-left: 15px;
}   

/* ================================= Footer Style End ==================================================== */

/* ===================================== 10/11/2021 index ================================================== */
.headerCont_bg{
    background: #2B5336;
}

.header_bg{
    background: #AEE81D;
    background-image: url('../images/BEER RIVER.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}

.siteName{
    width: 300px;
}

.site_logo{
    width: 130px;
}

.video_tile{
    color: #FFFAF7;
    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 10px 0px;
}

.mid_title_txt .mid_char{
    color: #aee81d;
}

.about_headTile{
    font-weight: 700;
}

.btm_logo{
    width: 150px;
    padding: 10px 0px;
}

.btm_logo_cont{
    background-color: #aee81d;
}

.btm_col{
    text-align: center;
}

.phase_collage_bg{
    background-color: #F7F6F6;
    padding: 10px;
}

.mouse_div{
    align-self: center;
}

.mouse_img{
    width: 200px;
}

/* ===================================== 10/11/2021 index ================================================== */
