@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    background-image: url('../images/bg_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* ================================= Head Style Start ==================================================== */

.header{
    display: flex;
    justify-content: center;
    padding: 35px;
}

.head_div{
    border: 4px solid #632a05;
    display: flex;
    justify-content: center;
    background: #FFFAF7;
    padding: 12px 35px;
}

.head_div h1{
    font-family: 'Raleway', sans-serif;
    color: grey;
    letter-spacing: 1px;
    margin: 0%;
}

.headerbtn_div{
    text-align: right; 
    margin-right: 15px;  
}

.headerbtn_div a{
    padding: 10px 15px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    background-image: url('../images/btn.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    transition: all .2s;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}

.headerbtn_div a:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    letter-spacing: 1.5px;
    color: black;
}

/* ================================= Head Style End ==================================================== */

/* ================================= Home Style Start ==================================================== */

.home_titlediv{
    padding: 20px 20px 50px 20px;
    position: relative;
}

.home_tilesocial{
    position: absolute;
    top: 20px;
    right: 10px;
    display: flex;
}

.hometwitter_div{
    background: black;
    width: 31px;
    padding: 4px 1px 4px 3px;
    border-radius: 50%;
    margin-left: 10px;
}

.homeinstagram_div{
    background: black;
    width: 31px;
    padding: 4px 1px 2px 3px;
    border-radius: 50%;
    margin-left: 10px;
}

.homefacebook_div{
    background: black;
    width: 31px;
    padding: 5px 5px 3px 5px;
    border-radius: 50%;
}

.homesocial_icon{
    color: #ffffff;
}

.home_titlediv h2{
    font-family: 'Raleway';
    color: grey;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
}

.homecard_div{
    justify-content: space-evenly;
}

.home_card{
    position: relative;
    background: transparent !important;
    border: none !important;
}

.home_card .homecard_txt{
    position: absolute;
    top: 140px;
    left: 50px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.homecard_txt ul{
    list-style-type: none;
    padding: 0%;
    text-align: left;
}

.homecard_btm{
    background: #C7C7C7;
    width: 120%;
    text-align: center;
    padding: 20px;
    margin: -10%;
    color: grey;
    height: 200px;
}

.homecard_btm p{
    font-size: 17px;
}

.homecard_btm ul{
    list-style-type: none;
    padding: 0%;
    text-align: left;
}

.homebtn_div .btnOne{
    padding: 15px 50px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    background-image: url('../images/btn.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    transition: all .2s;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}

.homebtn_div .btnOne:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    letter-spacing: 1.5px;
}

.homebtn_div{
    display: flex;
    padding: 50px 10px;
    justify-content: space-evenly;
    margin-top: 30px;
}

.homebtn_div .btnTwo{
    padding: 15px 50px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    background-image: url('../images/btn.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    transition: all .2s;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}

.homebtn_div .btnTwo:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    letter-spacing: 1.5px;
}

.homerangetxt_div{
    text-align: right;
    font-size: 17px;
    color: grey;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.homecountd_txt{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.homecountd_txt h2{
    font-weight: 600;
    font-size: 3rem;
}

.homecard_txt h2{
    font-weight: 700;
    font-size: 50px;
}

.homecountd_para{
    text-align: center;
}

.homecountd_para p{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.homerdmap_div{
    text-align: left;
}

.homerdmap_div h3{
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.homerdmap_div p{
    color: #898989;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

/* =========================================== Countdwon ===================================== */
/* general styling */

#days, #hours, #minutes, #seconds{
    background: #384AD3;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  #headline {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown li span {
    display: block;
    font-size: 3rem;
  }

  
  @media all and (max-width: 768px) {
    #headline {
      font-size: 1.5rem;
    }
    
    #countdown li {
      font-size: 1.125rem;
      padding: .75rem;
    }
    
    #countdown li span {
      font-size: 3.375rem;
    }
  }

/* =========================================== Countdwon ===================================== */

/* ================================= Home Style End ==================================================== */

/* ================================= About Style Start ================================================== */

.about_headcontainer{
    background: #F7F6F6;
    margin-top: 20px;
}

.about_titlehead{
    border-bottom: 1px solid grey;
}

.about_titlehead h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px 10px 0px; 
}

.about_para{
    color: grey;
    padding: 50px;
}

.about_servicecontainer{
    background: #F7F6F6;
}

.about_servicetxt{
    border-bottom: 1px solid grey;
}

.about_servicetxt h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 0px 10px 0px; 
}

.about_cardcontainer{
    background: #F7F6F6;
    padding: 50px;
}

.about_cardsrow{
    justify-content: space-evenly;
}

.about_cardtitle{
    font-family: 'Raleway', sans-serif;
    color: darkgrey;
    position: relative;
    text-transform: uppercase;
    padding: 10px 0px;
}

.about_cardtitle::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 40%;
    border-bottom: 1px solid grey;
    width: 50px;
    height: 100%;
}

.about_cardpara{
    font-family: 'Raleway', sans-serif;
    color: grey;
}

.about_cardimg{
    border-radius: 50% !important;
    width: 180px !important;
    height: 180px !important;
}

.about_card{
    position: relative;
    background: transparent !important;
    border: none !important;
    align-items: center;
}

.about_svg{
    position: absolute;
    top: 40px;
    left: 93px;
}

.about_svgicon{
    width: 100px;
    height: auto;
}
/* ================================= About Style End ==================================================== */

/* ================================= Portfolio Style Start ==================================================== */

.portfolio_container{
    background: #F7F6F6;
    margin-top: 20px;
}

.portfolio_cardcontainer{
    background: #F7F6F6;
}

.portfolio_headtxt{
    text-align: center;
    border-bottom: 1px solid grey;
}

.portfolio_headtxt h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 0px 0px 0px;
}

.portfolio_para p{
    font-family: 'Raleway', sans-serif;
    color: grey;
    padding: 40px;
}

.portfolio_cardrow{
    justify-content: center;
}

.portfolio_cardtitle{
    text-transform: uppercase;
    color: grey;
    font-weight: 900 !important;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0px;
}
/* ================================= Portfolio Style End ==================================================== */


/* ================================= Portfolio 1 Style Start ==================================================== */

.portfolio1_container{
    background: #F7F6F6;
    margin-top: 20px;
}

.portfolio1_titlediv{
    border-bottom: 1px solid grey;
    padding-top: 40px;
}

.portfolio1_titlediv h2{
    font-family: 'Raleway', sans-serif;
    color: grey;
    font-weight: 900;
    text-transform: uppercase;
}

.portfolio1_paradiv{
    color: grey;
    font-family: 'Raleway', sans-serif;
}

.portfolio1_paradiv p{
    font-family: 'Raleway', sans-serif;
    color: grey;
}

/* ================================= Portfolio 1 Style End ==================================================== */


/* ================================= Footer Style Start ================================================== */

.footer_div{
    text-align: center;
    padding: 20px 0px;
}

.footer_div .footer_para{
    font-weight: 600;
    color: #a8a8a8;
    font-family: 'Raleway', sans-serif;
}

.footer_icon{
    color: #ffffff;
    padding: 5px 5px 2px 5px;
    font-size: 30px;
}

.footericon_div{
    display: flex;
    justify-content: center;
}

.facebook_div{
    background: black;
    border-radius: 50%;
    width: 31px;
}

.twitter_div{
    background: black;
    border-radius: 50%;
    width: 31px;
    margin-left: 15px;
}

.twitter_div .footer_icon{
    padding: 8px 8px 5px 8px;
}

.instagram_div{
    background: black;
    border-radius: 50%;
    width: 31px;
    margin-left: 15px;
}   

/* ================================= Footer Style End ==================================================== */
